.top-section{
    background-image: url('../images/illustrations-background.png');
    padding-bottom: 200px;
    padding-top: 80px;
    background-size: cover;
}

body{
    margin: 0;
    font-size:16px;
    font-family:'Outfit', sans-serif;
}

.header{
    margin-left:auto;
    margin-right:auto;
    width:70%;
    min-width: 600px;
    
}

span{
    color: #ff8282;
}

.h1{
    font-size: 4em;
    font-weight: 800;
    min-width: 400px;
    margin-top: 160px;
}

a{
    text-decoration: none;
    color: #808080;
    font-size: 1.25em;
    padding: 0 10px;
    margin-left: 24px;
    
}

a:hover{
    color:#59C4BE;
    font-weight: 700;
}

.navbar{
    display: flex;
    justify-content: flex-end;

}

.nav-menu p{
    font-size: 1.25em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 24px;
    padding: 0 10px;
}


/* Main */

.main-body{
    margin-left: auto;
    margin-right: auto;
    width:70%;
    min-width: 600px;
}

.artwork{
    display: flex;
    align-items: center;
}

.artwork-1 img{
    width: 440px;
    height: 562px;
    margin:100px;
}


.artwork-2 img{
    width: 420px;
    height: 562px;
    margin: 100px;
}


.artwork-3 img{
    width:420px;
    height: 562px;
    margin:100px;
}

.caption{
    font-size: 2em;
    font-weight: 800;
    margin-right: 100px;
    margin-left: 100px;
    text-align: center;
}

.caption-year{
    font-style: italic;
}


/* Footer */

.footer-background{
    background-color:#fff6f2;
   height:160px;
   margin-top: 160px;
   
}

.footer-background p{
    text-align: center;
    line-height: 120px;
}