.top-section{
    background-image: url('../images/Group\ 3.png');
    padding-bottom: 300px;
    padding-top: 80px;
    background-size: cover;
}

body{
    margin: 0;
    font-size:16px;
    font-family:'Outfit', sans-serif;
}

.header{
    margin-left:auto;
    margin-right:auto;
    width:70%;
    min-width: 600px;
    
}

.navbar{
    display: flex;
    justify-content: flex-end;

}

.nav-menu p{
    font-size: 1.25em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 24px;
    padding: 0 10px;
}

span{
    color: #ff8282;
}

.h1{
    font-size: 4em;
    font-weight: 800;
    min-width: 400px;
    margin-top: 160px;
}

a{
    text-decoration: none;
    color: #808080;
    font-size: 1.25em;
    padding: 0 10px;
    margin-left: 24px;
    
}

a:hover{
    color:#59C4BE;
    font-weight: 700;
}

/* Main */

.main-body p{
    font-size: 1.5em;
    width: 50%;
    min-width: 600px;
    margin-left: 60px;
}

.main-body img{
    width:375px;
    height: 458px;
    padding-left: 40px;
}

.main-body{
    display: flex;
    align-items: center;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
}


/* Footer */

.footer-background{
    background-color:#fff6f2;
   height:160px;
   margin-top: 160px;
   
}

.footer-background p{
    text-align: center;
    line-height: 120px;
}