.top-section{
    background-image: url('images/Group\ 4.png');
    padding-bottom: 300px;
    padding-top: 80px;
    background-size: cover;
}

body{
    margin: 0;
    font-size:16px;
    font-family:'Outfit', sans-serif;
}

.header{
    margin-left:auto;
    margin-right:auto;
    width:70%;
    min-width: 600px;
    
}

.navbar{
    display: flex;
    justify-content: flex-end;

}

.nav-menu p{
    font-size: 1.25em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 24px;
    padding: 0 10px;
}

a{
    text-decoration: none;
    color: #808080;
    font-size: 1.25em;
    padding: 0 10px;
    margin-left: 24px;
    
}

a:hover{
    color:#59C4BE;
    font-weight: 700;
}

.h1{
    font-size: 4em;
    font-weight: 800;
    min-width: 400px;
    margin-top: 160px;
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

/* Resume */

.both-columns{
    display: flex;
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

.h2{
    font-size: 2em;
    font-weight: 800;
}

span{
    color: #ff8282;
}

.date{
    color: #aeadad;
    font-weight: 800;
}

.education .date{
    margin:8px 0;
}

.education .h3{
    margin-bottom:0;
}

#public{
    margin-bottom: 0;
}

.education .major{
    margin-top:0;
}

.h3{
    color:#ff8282;
    font-size: 1.5em;
    font-weight: 800;
}

ol{
    font-size: 1.5em;
    line-height: 36px;
}

.left-column{
    max-width:800px;
    padding-right: 50px;
}

.major{
    font-size: 1.5em;
}

li{
    margin-bottom: 24px;
}

.symba{
    margin-top:64px;
}



/* Footer */

.footer-background{
    background-color:#fff6f2;
   height:160px;
   margin-top: 160px;
   
}

.footer-background p{
    text-align: center;
    line-height: 120px;
}