.section-top{
    background-image: url("../Resume_Site/images/Frame.jpg");
    padding-bottom:100px;
    background-size: cover;
    padding-top:100px;
}


.header{
    margin-left:auto;
    margin-right:auto;
    width:60%;
    min-width: 400px;
   
}



body{
    font-size:16px;
    font-family:'Outfit', sans-serif;
    margin: 0;
}

.profile-pic img{
    width:160px;
    height:160px;
    /*background-color: beige;*/
    border-radius: 100%;
    margin-right: 48px;
}

.h1{
    font-size: 4.5em;
    font-weight: 800;
    min-width: 400px;

}

.first-row{
    display: flex;
    align-items: center;
    
}

.header-text{
    font-size: 2.5em;
}

span{
    font-weight: 700;
    color: #ff8282;
}

.socials{
    display: flex;
    align-items: center;
}

.icons{
    margin-right:24px;
}

.icons img{
    width:24px;
}

.first-menu, .second-menu, .third-menu, .fourth-menu, .fifth-menu{
    display: flex;
    align-items: center;
    margin-bottom: 72px;
   
}

.circle-1 img, .circle-2 img, .circle-3 img, .circle-4 img, .circle-5 img{
    width:64px;
}

    


.first-menu{
    margin-left: 176px;
}

.second-menu, .third-menu,.fourth-menu,.fifth-menu{
    margin-left: 200px;
    
}

aside a:hover{
    font-weight: 700;
    color: #59C4BE;
}

.circle-1, .circle-2, .circle-3, .circle-4, .circle-5{
  padding-right:20px;
}

.highlight{
    background-color: #ff8282;
    width:8px;
    height:40px;
    margin-right:16px;
    
}

.menu-text a{
    font-size: 1.25em;
    color: #808080;
    text-decoration: none;
}

.menu-works{
    font-size: 1.25em;
    color: #000000;
    font-weight: 700;
}


aside{
    margin-left: 8%;
}

/* Case Studies */


.case-study-1 img{
    width: 680px;
    height: 450px;
}

.case-study-1 a:hover{
    width: 680px;
    height:450px;
}


.case-study-2 img{
    width: 680px;
    height:450px;
}

.case-study-3 img{
    width: 680px;
    height:450px;
}

.case-studies{
    margin-left:auto;
    margin-right: auto;
}

#sidebar{
    display: flex;
    margin-top: 2em;
    
}


/* Footer */

.footer-background{
    background-color:#fff6f2;
   height:160px;
   margin-top: 160px;
   
}

.footer-background p{
    text-align: center;
    line-height: 120px;
}